# This is Git's per-user configuration file.
[user]
	name = Rose Kamal Love
	email = rosekamallove@gmail.com
# Please adapt and uncomment the following lines:
#	name = Rose Kamal Love
#	email = rosekamallove@gmail.com
